* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.d-flex {
    display: flex;
}

nav {
    justify-content: space-between;
    width: 98%;
    margin: 25px auto 0 auto;
}

ul {
    list-style: none;
}

li {
    margin: 0 10px;
    color: #000;
    opacity: 0.75;
    font-size: 0.855rem;
}

div img {
    max-width: 100%;
    height: auto;
}

#pa-google-logo {
    width: 17%;
}

.form-container {
    flex-direction: column;
    margin: 200px auto;
    align-items: center;
}

input {
    margin-top: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 30px;
    width: 550px;
    padding: 15px 15px;
    outline: none;
    font-size: 0.855rem;
}